@import 'mixins';

@include reset(); // Сброс стилей

@import 'mixingrid';
// Переменные для кастомизации Mixingrid
$columns: 12; // Колличество колонок
$max-width: 1400px; // Максимальная ширина контейнера
$gutter: 30px; // Расстояние между колонками
$offset: 30px; // Поля контейнера
$offset-sm: 10px; // Поля контейнера на мобилке
// Брэйкпоинты
$break_xl: 1400px;
$break_lg: 1200px;
$break_md: 1050px;
$break_sm: 769px;
$break_xs: 500px;

// Шрифты
@include font-face("Ptrootui", "../fonts/Ptrootui/Ptrootui", normal, normal);
@include font-face("Ptrootui", "../fonts/Ptrootui/Ptrootuimedium", 500, normal);
@include font-face("Ptrootui", "../fonts/Ptrootui/Ptrootuibold", bold, normal);

@include font-face("Benzin", "../fonts/Benzin/benzinbold", bold, normal);

@include font-face("Montserrat", "../fonts/Montserrat/montserrat-v23-latin_cyrillic-500", 500, normal);

// Цвета
$black: #22262D;
$gray: #A5A5AD;
$blue: #3460B4;

// Подключение файлов
@import 'blocks/settings';
@import 'blocks/btn';
@import 'blocks/input';
@import 'blocks/select';
@import 'blocks/accordion';
@import 'blocks/tabs';
@import 'blocks/header';
@import 'hamburgers/hamburgers';
@import 'blocks/menu';
@import 'blocks/footer';
@import 'blocks/catalog';
@import 'blocks/product-card';
@import 'blocks/popular';
@import 'blocks/popular-card';
@import 'blocks/banner';
@import 'blocks/offers';
@import 'blocks/card-grid';
@import 'blocks/news-card';
@import 'blocks/advantages';
@import 'blocks/breadcrumbs';
@import 'blocks/catalog-page';
@import 'blocks/filters';
@import 'blocks/nouislider';
@import 'blocks/card-list';
@import 'blocks/product-screen';
@import 'blocks/counter';
@import 'blocks/product-tabs';
@import 'blocks/cart';
@import 'blocks/cart-form';
// @import 'blocks/modal';
// @import 'blocks/tooltipster-noir';