// footer
footer.footer 
	.wrapper 
		.footer__container
			.footer__row 
				.footer__lists 
					.footer__list 
						p Популярные категории
						ul 
							li 
								a(href="#") Видеонаблюдение
							li 
								a(href="#") СКУД
							li 
								a(href="#") Средства пожаротушения
							li 
								a(href="#") Домофоны
							li 
								a(href="#") Провода
							li 
								a(href="#") Системы оповещения
					.footer__list 
						p Популярные категории
						ul 
							li 
								a(href="#") Акции
							li 
								a(href="#") Доставка
							li 
								a(href="#") Как купить
							li 
								a(href="#") Услуги
							li 
								a(href="#") О компании
							li 
								a(href="#") Контакты
					.footer__list.footer__list--icons
						p Популярные категории
						ul 
							li 
								a(href="tel:+74951281193") 
									img(src="img/phone.svg", alt="") 
									| +7 (495) 128-11-93
							li 
								a(href="mailto:info@1-security.ru") 
									img(src="img/email.svg", alt="")
									| info@1-security.ru
							li 
								img(src="img/map.svg", alt="")
								| г. Москва, бульвар Энтузиастов, 2 <br>БЦ "Голден Гейт", офис 1115
				.footer__subscribe 
					.footer__subscribe-title 
						.footer__subscribe-icon
							img(src="img/email.svg", alt="")
						| Подписывайтесь <br>на новости
					.footer__subscribe-input 
						.input 
							input(type="text" placeholder="Введите email")
					.footer__subscribe-btn 
						.btn.btn--blue Подписаться
			.footer__copyright 2022 &#169; Все права защищены
// /footer