extends blocks/base.pug

block title 
	title Каталог

block content

	.page

		include blocks/header.pug
		
		.content 

			// breadcrumbs
			.breadcrumbs
				.wrapper 
					ul 
						li 
							a(href="#") Главная
						li 
							a(href="#") Средства и системы охранного телевидения
						li IP-телекамеры
			//	/breadcrumbs

			// catalog-page
			.catalog-page
				.wrapper 
					h1.title IP-телекамеры
					.catalog-page__row
						.catalog-page__aside 
							.catalog-page__title Фильтры
								.catalog-page__clear 
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.7141 0C13.3985 0 13.1427 0.255837 13.1427 0.571439V2.65885C10.2008 -0.189375 5.50694 -0.113371 2.65871 2.82854C1.31641 4.215 0.567586 6.07021 0.571303 7.99998C0.571303 8.31559 0.82714 8.57142 1.14274 8.57142C1.45834 8.57142 1.71415 8.31559 1.71415 7.99998C1.71485 4.52849 4.52959 1.71482 8.00112 1.71552C9.76419 1.71586 11.446 2.45665 12.6365 3.75713L10.105 4.60111C9.80524 4.70086 9.64302 5.02473 9.74276 5.32453C9.8425 5.62433 10.1664 5.78655 10.4662 5.6868L13.8947 4.54396C14.1288 4.46601 14.2864 4.24664 14.2856 3.99997V0.571406C14.2856 0.255837 14.0297 0 13.7141 0Z"/>
										<path d="M14.8578 7.42847C14.5421 7.42847 14.2863 7.6843 14.2863 7.9999C14.2856 11.4714 11.4709 14.285 7.99934 14.2843C6.23627 14.284 4.55443 13.5432 3.36401 12.2427L5.89542 11.3988C6.19522 11.299 6.35744 10.9751 6.2577 10.6754C6.15796 10.3756 5.83408 10.2133 5.53429 10.3131L2.10572 11.4559C1.87168 11.5339 1.71408 11.7532 1.71485 11.9999V15.4285C1.71485 15.7441 1.97068 15.9999 2.28629 15.9999C2.60189 15.9999 2.85773 15.7441 2.85773 15.4285V13.341C5.79966 16.1892 10.4935 16.1133 13.3417 13.1713C14.684 11.7849 15.4328 9.92967 15.4291 7.9999C15.4292 7.6843 15.1734 7.42847 14.8578 7.42847Z"/>
									</svg>
									span Очистить
						.catalog-page__main 
							.catalog-page__title IP-телекамеры
			//	/catalog-page
			
		include blocks/footer.pug