extends blocks/base.pug

block title 
	title Навигация по страницам

block content

	.page

		include blocks/header.pug
		
		.content

			.navpage 
				.wrapper 
					ul 
						li 
							a(href="home.html") Главная
						li 
							a(href="catalog.html") Каталог плитка
			
		include blocks/footer.pug