extends blocks/base.pug

block title 
	title Навигация по страницам

block content

	.page

		include blocks/header.pug
		
		.content

			.navpage 
				.wrapper 
					h1 Навигация по страницам
					ul 
						li 
							a(href="home.html") Главная
						li 
							a(href="catalog.html") Каталог (плитка)
						li 
							a(href="catalog-list.html") Каталог (список)
						li 
							a(href="product.html") Страница товара
						li 
							a(href="cart.html") Корзина
			
		include blocks/footer.pug