extends blocks/base.pug

block title 
	title Статья

block content

	.page

		include blocks/header.pug
		
		.content

			// breadcrumbs
			.breadcrumbs
				.wrapper 
					ul 
						li 
							a(href="#") Главная
						li Статья
			// /breadcrumbs


			// post 
			.post 
				.wrapper 
					.post__row 

						.post__article 

							.text-block
								h1 Выбор и установка шлагбаума
								p Автоматический шлагбаум нужен для ограничения и контроля въезда и выезда во дворы жилых домов, территорий предприятий или парковки. Он может управляться в ручном режиме оператором или с помощью дистанционных средств. Наряду с традиционными радио брелоками так же существует возможность использовать смс или звонок через модуль управления по мобильной связи, что очень удобно когда, например, к вам приехала доставка, вы можете открыть проезд, не выходя на улицу.
								p Частота на которой работают брелоки обычно 433 МГц и к сожалению эта частота самая загруженная, в связи с этим в местах интенсивного использования этой частоты брелоки могут работать перебоями. Рекомендуем проверить это заранее и при выявлении проблем продумать альтернативные способы управления.
								.title Как выбрать шлагбаум
								img(src="img/post_1.jpg", alt="")
								p Главные показатели, на которые необходимо обращать внимание при выборе шлагбаума это длина стрелы, время открывания (в секундах) и интенсивность. В зависимости от места установки, шлагбаум нужно выбирать по этим параметрам. Например, если вы собираетесь контролировать въезд на парковку торгового центра, то вам подойдет шлагбаум с короткой стрелой и быстрым открыванием. Для въезда во двор желательно устанавливать шлагбаум с более длиной стрелой, так как во двор будут заезжать мусорные или пожарные машины. Соответственно проезд должен быть широким. Это же касается и въезда на территории предприятий, куда может заезжать очень габаритная техника. Поэтому длина стрелы может достигать 12 метров и даже больше.
								p Показатель интенсивности и времени открытия говорят об одном и том же. Чем выше пропускная способность должна быть тем лучше должны быть показатели времени и интенсивности (время меньше, интенсивность выше). И как часто это бывает высокие показатели ведут к увеличению стоимости.
								p Популярные производители автоматики для ворот и автоматических шлагбаумов:
								ul 
									li 
										a(href="#") CAME
									li 
										a(href="#") DoorHan
									li 
										a(href="#") Nice
									li 
										a(href="#") FAAC
								.title Установка шлагбаума
								img(src="img/post_2.jpg", alt="")
								p Шлагбаум устанавливается на специальное бетонное основание, которое нужно подготовить заранее. Так же при изготовлении такого основания нужно подвести электричество и кабель для управления. Если допустить ошибки при изготовлении или сделать его не достаточно тяжелым, то шлагбаум может перевернуться и повредить автомобили и сломаться сам. Уделите этому процессу больше внимания.

								h2 Направления нашей деятельности
								dl 
									dt Поставки оборудования
									dt Монтаж систем безопасности
									dt Проектирование систем безопасности
									dt Обслуживание систем безопасности
								h2 Направления нашей деятельности
								ol 
									li Поставки оборудования
									li Монтаж систем безопасности
									li Проектирование систем безопасности
									li Обслуживание систем безопасности
								h3 Направления нашей деятельности
								ul 
									li Поставки оборудования
									li Монтаж систем безопасности
									li Проектирование систем безопасности
									li Обслуживание систем безопасности

						.post__items 
							.row 
								.post__col 
									a(href="#").post__item 
										.post__img 
											img(src="img/news_5.jpg", alt="")
										.post__date 15 марта 2022
										.post__title 
											span Выбор и установка шлагбаума
										.post__text Статья о том, что нужно знать при выборе и установке автоматических шлагбаумов. Описание некоторых параметров. Обзор дополнительного оборудования...
								.post__col 
									a(href="#").post__item 
										.post__img 
											img(src="img/news_8.jpg", alt="")
										.post__date 15 марта 2022
										.post__title 
											span Выбор и установка шлагбаума
										.post__text Статья о том, что нужно знать при выборе и установке автоматических шлагбаумов. Описание некоторых параметров. Обзор дополнительного оборудования...
								.post__col 
									a(href="#").post__item 
										.post__img 
											img(src="img/news_4.jpg", alt="")
										.post__date 15 марта 2022
										.post__title 
											span Выбор и установка шлагбаума
										.post__text Статья о том, что нужно знать при выборе и установке автоматических шлагбаумов. Описание некоторых параметров. Обзор дополнительного оборудования...
			// /post 
			
		include blocks/footer.pug