extends blocks/base.pug

block title 
	title Страница товара

block content

	.page

		include blocks/header.pug
		
		.content

			// breadcrumbs
			.breadcrumbs
				.wrapper 
					ul 
						li 
							a(href="#") Главная
						li 
							a(href="#") Средства и системы охранного телевидения
						li IP-телекамеры
			//	/breadcrumbs

			// product-screen 
			.product-screen 
				.wrapper 
					h1.title DS-2CD2123G0-IS (6mm)
					.product-screen__row 

						.product-screen__slider 

							.product-screen__slider-nav
								.product-screen__slider-nav-container
									#productSliderNav
										.swiper-wrapper 
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")
											.swiper-slide
												.product-screen__img-nav 
													img(src="img/camera_5.jpg", alt="")

							.product-screen__slider-main 
								#productSliderMain
									.swiper-wrapper 
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")
										.swiper-slide
											.product-screen__img-full
												img(src="img/camera_5.jpg", alt="")

						.product-screen__description 

							.title Профессиональная видеокамера IP купольная

							.product-screen__w450 

								.product-screen__actions 
									.product-screen__actions-row 
										.product-screen__item 
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.5493 13.9082L18.8646 13.1794L19.5493 13.9082ZM19.7885 6.52734L18.9984 7.14034L19.7885 6.52734ZM4.21154 6.52735L3.42146 5.91435L4.21154 6.52735ZM4.45067 13.9082L3.766 14.6371L4.45067 13.9082ZM11.4033 20.4395L12.088 19.7106L11.4033 20.4395ZM11.9037 20.8046L11.7111 21.7859L11.9037 20.8046ZM12.0963 20.8046L12.2889 21.7859L12.0963 20.8046ZM12.088 19.7106L5.13535 13.1794L3.766 14.6371L10.7186 21.1683L12.088 19.7106ZM4.69227 7.53907L5.00163 7.14034L3.42146 5.91435L3.1121 6.31307L4.69227 7.53907ZM18.9984 7.14034L19.3077 7.53906L20.8879 6.31307L20.5785 5.91434L18.9984 7.14034ZM18.8646 13.1794L11.912 19.7106L13.2814 21.1683L20.234 14.6371L18.8646 13.1794ZM19.3077 7.53906C20.6368 9.25207 20.4449 11.6949 18.8646 13.1794L20.234 14.6371C22.5661 12.4463 22.8493 8.84113 20.8879 6.31307L19.3077 7.53906ZM13.3891 7.74438C14.4515 5.51842 17.4864 5.1916 18.9984 7.14034L20.5785 5.91434C18.1541 2.78956 13.2877 3.31361 11.5842 6.88292L13.3891 7.74438ZM10.6109 7.74438C11.1685 8.91272 12.8315 8.91272 13.3891 7.74438L11.5842 6.88292C11.7511 6.5332 12.2489 6.5332 12.4158 6.88292L10.6109 7.74438ZM5.00163 7.14034C6.51358 5.19161 9.54846 5.51842 10.6109 7.74438L12.4158 6.88292C10.7123 3.31361 5.84586 2.78956 3.42146 5.91435L5.00163 7.14034ZM5.13535 13.1794C3.55512 11.6949 3.36322 9.25207 4.69227 7.53907L3.1121 6.31307C1.15068 8.84113 1.43388 12.4463 3.766 14.6371L5.13535 13.1794ZM10.7186 21.1683C10.8238 21.2671 10.9548 21.3917 11.0802 21.4883C11.219 21.5952 11.4274 21.7302 11.7111 21.7859L12.0963 19.8233C12.1642 19.8367 12.2193 19.8588 12.258 19.8787C12.2928 19.8967 12.3087 19.9101 12.3006 19.9038C12.2919 19.8971 12.2723 19.881 12.2335 19.8459C12.1948 19.8109 12.1498 19.7687 12.088 19.7106L10.7186 21.1683ZM11.912 19.7106C11.8502 19.7687 11.8052 19.8109 11.7665 19.8459C11.7277 19.881 11.7081 19.8971 11.6994 19.9038C11.6913 19.9101 11.7072 19.8967 11.742 19.8787C11.7807 19.8588 11.8358 19.8367 11.9037 19.8233L12.2889 21.7859C12.5726 21.7302 12.781 21.5952 12.9198 21.4883C13.0452 21.3917 13.1762 21.2671 13.2814 21.1683L11.912 19.7106ZM11.7111 21.7859C11.9019 21.8233 12.0981 21.8233 12.2889 21.7859L11.9037 19.8233C11.9673 19.8109 12.0327 19.8109 12.0963 19.8233L11.7111 21.7859Z" fill="#C2D0E9"/>
											</svg>
											span В избранное
										.product-screen__item 
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M5 13C5.55228 13 6 13.4133 6 13.9231V20.0769C6 20.5867 5.55228 21 5 21C4.44772 21 4 20.5867 4 20.0769V13.9231C4 13.4133 4.44772 13 5 13Z" fill="#C2D0E9"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M10 11C10.5523 11 11 11.4333 11 11.9677V20.0323C11 20.5667 10.5523 21 10 21C9.44772 21 9 20.5667 9 20.0323V11.9677C9 11.4333 9.44772 11 10 11Z" fill="#C2D0E9"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M15 8C15.5523 8 16 8.42588 16 8.95122V20.0488C16 20.5741 15.5523 21 15 21C14.4477 21 14 20.5741 14 20.0488V8.95122C14 8.42588 14.4477 8 15 8Z" fill="#C2D0E9"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M20 3C20.5523 3 21 3.43173 21 3.96429L21 20.0357C21 20.5683 20.5523 21 20 21C19.4477 21 19 20.5683 19 20.0357L19 3.96429C19 3.43173 19.4477 3 20 3Z" fill="#C2D0E9"/>
											</svg>
											span В сравнение
										.product-screen__item 
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7.09607 8.02455L8.07686 8.21964V8.21964L7.09607 8.02455ZM8.03323 5.95619L7.23988 5.34743L7.23988 5.34743L8.03323 5.95619ZM9.78856 4.51564L10.2308 5.41251L10.2308 5.41251L9.78856 4.51564ZM14.2114 4.51564L13.7692 5.41251L13.7692 5.41251L14.2114 4.51564ZM15.9668 5.95619L15.1734 6.56495L15.1734 6.56495L15.9668 5.95619ZM16.9039 8.02455L17.8847 7.82946V7.82946L16.9039 8.02455ZM7.02498 8.50083L6.02997 8.401L7.02498 8.50083ZM7.92388 15.3827L8.84776 15.7654L7.92388 15.3827ZM7.38268 15.9239L7.76537 16.8478L7.38268 15.9239ZM16.6173 15.9239L17 15L16.6173 15.9239ZM16.0761 15.3827L17 15L16.0761 15.3827ZM16.975 8.50083L17.97 8.401L16.975 8.50083ZM17.5 10C18.8807 10 20 11.1193 20 12.5H22C22 10.0147 19.9853 8 17.5 8V10ZM20 12.5C20 13.8807 18.8807 15 17.5 15V17C19.9853 17 22 14.9853 22 12.5H20ZM17 14.5V12.0556H15V14.5H17ZM17 12.0556C17 10.951 16.1046 10.0556 15 10.0556V12.0556V12.0556H17ZM15 10.0556H9V12.0556H15V10.0556ZM9 10.0556C7.89543 10.0556 7 10.951 7 12.0556H9V10.0556ZM7 12.0556V14.5H9V12.0556H7ZM6.5 15C5.11929 15 4 13.8807 4 12.5H2C2 14.9853 4.01472 17 6.5 17V15ZM4 12.5C4 11.1193 5.11929 10 6.5 10V8C4.01472 8 2 10.0147 2 12.5H4ZM6.11529 7.82946C6.07761 8.0189 6.04917 8.20964 6.02997 8.401L8.01998 8.60067C8.03278 8.4731 8.05174 8.34594 8.07686 8.21964L6.11529 7.82946ZM7.23988 5.34743C6.67962 6.07757 6.29483 6.92682 6.11529 7.82946L8.07686 8.21964C8.19656 7.61788 8.45308 7.05172 8.82659 6.56495L7.23988 5.34743ZM9.34627 3.61876C8.52085 4.02581 7.80014 4.61729 7.23988 5.34743L8.82659 6.56495C9.20009 6.07819 9.68057 5.68388 10.2308 5.41251L9.34627 3.61876ZM12 3C11.0797 3 10.1717 3.21171 9.34627 3.61876L10.2308 5.41251C10.7811 5.14114 11.3864 5 12 5V3ZM14.6537 3.61876C13.8283 3.21171 12.9203 3 12 3V5C12.6136 5 13.2189 5.14114 13.7692 5.41251L14.6537 3.61876ZM16.7601 5.34743C16.1999 4.61729 15.4791 4.02581 14.6537 3.61876L13.7692 5.41251C14.3194 5.68388 14.7999 6.07819 15.1734 6.56495L16.7601 5.34743ZM17.8847 7.82946C17.7052 6.92682 17.3204 6.07757 16.7601 5.34743L15.1734 6.56495C15.5469 7.05172 15.8034 7.61788 15.9231 8.21964L17.8847 7.82946ZM17.97 8.401C17.9508 8.20964 17.9224 8.0189 17.8847 7.82946L15.9231 8.21964C15.9483 8.34594 15.9672 8.4731 15.98 8.60067L17.97 8.401ZM6.5 10C7.35073 10 7.94746 9.32346 8.01998 8.60067L6.02997 8.401C6.04736 8.22773 6.20155 8 6.5 8V10ZM7 14.5C7 14.7467 6.99946 14.8816 6.9928 14.9791C6.98676 15.0676 6.97918 15.0503 7 15L8.84776 15.7654C8.9447 15.5313 8.97518 15.3056 8.98817 15.1152C9.00054 14.9338 9 14.7193 9 14.5H7ZM6.5 17C6.71929 17 6.93384 17.0005 7.11523 16.9882C7.3056 16.9752 7.53132 16.9447 7.76537 16.8478L7 15C7.05027 14.9792 7.06763 14.9868 6.97908 14.9928C6.88156 14.9995 6.74665 15 6.5 15V17ZM7 15L7.76537 16.8478C8.25542 16.6448 8.64477 16.2554 8.84776 15.7654L7 15ZM17.5 15C17.2533 15 17.1184 14.9995 17.0209 14.9928C16.9324 14.9868 16.9497 14.9792 17 15L16.2346 16.8478C16.4687 16.9447 16.6944 16.9752 16.8848 16.9882C17.0662 17.0005 17.2807 17 17.5 17V15ZM15 14.5C15 14.7193 14.9995 14.9338 15.0118 15.1152C15.0248 15.3056 15.0553 15.5313 15.1522 15.7654L17 15C17.0208 15.0503 17.0132 15.0676 17.0072 14.9791C17.0005 14.8816 17 14.7467 17 14.5H15ZM17 15L15.1522 15.7654C15.3552 16.2554 15.7446 16.6448 16.2346 16.8478L17 15ZM17.5 8C17.7984 8 17.9526 8.22773 17.97 8.401L15.98 8.60067C16.0525 9.32346 16.6493 10 17.5 10V8Z" fill="#C2D0E9"/>
												<rect x="8" y="11" width="8" height="10" rx="2" stroke="#C2D0E9" stroke-width="2"/>
												<path d="M11.5 16H12.5" stroke="#C2D0E9" stroke-width="2" stroke-linecap="round"/>
											</svg>
											span Распечатать

								.product-screen__price-block 
									.product-screen__price 12 999 &#8381;
										span 15 999 &#8381;
									.product-screen__instock 
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12 21C14.0822 21 16.1 20.278 17.7095 18.9571C19.3191 17.6362 20.4209 15.798 20.8271 13.7558C21.2333 11.7136 20.9188 9.59376 19.9373 7.75743C18.9558 5.9211 17.3679 4.48191 15.4442 3.68508C13.5205 2.88826 11.38 2.78311 9.38744 3.38754C7.3949 3.99197 5.67358 5.26858 4.51677 6.99987C3.35997 8.73115 2.83925 10.81 3.04334 12.8822C3.24743 14.9543 4.1637 16.8916 5.63604 18.364" stroke="#27AE60" stroke-width="2" stroke-linecap="round"/>
											<path d="M15.2318 9.35982C15.5853 8.93554 16.2159 8.87821 16.6402 9.23178C17.0645 9.58534 17.1218 10.2159 16.7682 10.6402L15.2318 9.35982ZM7.29289 13.7071C6.90237 13.3166 6.90237 12.6834 7.29289 12.2929C7.68342 11.9024 8.31658 11.9024 8.70711 12.2929L7.29289 13.7071ZM10.9781 15.5176L10.9328 14.5186L10.9781 15.5176ZM16.7682 10.6402L13.1703 14.9577L11.6338 13.6774L15.2318 9.35982L16.7682 10.6402ZM8.74428 15.1585L7.29289 13.7071L8.70711 12.2929L10.1585 13.7443L8.74428 15.1585ZM13.1703 14.9577C12.8614 15.3284 12.5646 15.688 12.2823 15.9448C11.9787 16.221 11.5728 16.4916 11.0234 16.5165L10.9328 14.5186C10.824 14.5235 10.8023 14.5875 10.9366 14.4653C11.0922 14.3238 11.2871 14.0934 11.6338 13.6774L13.1703 14.9577ZM10.1585 13.7443C10.5415 14.1272 10.7564 14.339 10.9242 14.4659C11.069 14.5754 11.0416 14.5137 10.9328 14.5186L11.0234 16.5165C10.474 16.5415 10.0453 16.3087 9.71794 16.0611C9.41353 15.831 9.08542 15.4996 8.74428 15.1585L10.1585 13.7443Z" fill="#27AE60"/>
										</svg>
										span В наличии

								.product-screen__btn-block 
									.counter#counter
										.counter__btn.js-counter-minus 
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect x="2" y="7" width="12" height="2" rx="1" fill="#A5A5AD"/>
											</svg>
										.counter__input.js-counter-input
											input(type="text" value="1" maxlength="3")
											.counter__label шт
										.counter__btn.js-counter-plus 
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M2 8C2 7.44772 2.44772 7 3 7H13C13.5523 7 14 7.44772 14 8C14 8.55228 13.5523 9 13 9H3C2.44772 9 2 8.55228 2 8Z" fill="#A5A5AD"/>
												<path d="M8 2C8.55228 2 9 2.44772 9 3L9 13C9 13.5523 8.55228 14 8 14C7.44771 14 7 13.5523 7 13L7 3C7 2.44771 7.44772 2 8 2Z" fill="#A5A5AD"/>
											</svg>
									.btn.btn--blue 
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 1.44772 0.447715 1 1 1H3.39566C4.80175 1 6.01919 1.9766 6.32422 3.34921L6.80217 5.5H21.1208C22.7251 5.5 23.9142 6.98964 23.5587 8.55405L22.5366 13.0513C21.8122 16.2384 18.9789 18.5 15.7106 18.5H13.0075C9.62445 18.5 6.72554 16.0806 6.12037 12.7522L5.0196 6.69799L4.37184 3.78307C4.27017 3.32553 3.86436 3 3.39566 3H1C0.447715 3 0 2.55228 0 2ZM7.19821 7.5L8.08811 12.3944C8.52037 14.7719 10.591 16.5 13.0075 16.5H15.7106C18.0451 16.5 20.0689 14.8845 20.5863 12.6081L21.6084 8.11081C21.6795 7.79793 21.4417 7.5 21.1208 7.5H7.19821Z" fill="white"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 21C6.5 19.8954 7.39543 19 8.5 19C9.60457 19 10.5 19.8954 10.5 21C10.5 22.1046 9.60457 23 8.5 23C7.39543 23 6.5 22.1046 6.5 21Z" fill="white"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5 21C18.5 19.8954 19.3954 19 20.5 19C21.6046 19 22.5 19.8954 22.5 21C22.5 22.1046 21.6046 23 20.5 23C19.3954 23 18.5 22.1046 18.5 21Z" fill="white"/>
										</svg>
										| В корзину

								.product-screen__table 
									table 
										tr 
											td Производитель
											td.product-screen__blue Hikvision
										tr 
											td Код товара
											td 273223
										tr 
											td Артикул производителя
											td 311302846

								.product-screen__delivery
									.product-screen__delivery-text
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.8 5.4C19.7069 5.2758 19.5861 5.175 19.4472 5.10557C19.3084 5.03614 19.1552 5 19 5H15V4C15 3.46957 14.7893 2.96086 14.4142 2.58579C14.0391 2.21071 13.5304 2 13 2H3C2.46957 2 1.96086 2.21071 1.58579 2.58579C1.21071 2.96086 1 3.46957 1 4V17C1 17.2652 1.10536 17.5196 1.29289 17.7071C1.48043 17.8946 1.73478 18 2 18H3C3 19.0609 3.42143 20.0783 4.17157 20.8284C4.92172 21.5786 5.93913 22 7 22C8.06087 22 9.07828 21.5786 9.82843 20.8284C10.5786 20.0783 11 19.0609 11 18H13C13 19.0609 13.4214 20.0783 14.1716 20.8284C14.9217 21.5786 15.9391 22 17 22C18.0609 22 19.0783 21.5786 19.8284 20.8284C20.5786 20.0783 21 19.0609 21 18C21.5304 18 22.0391 17.7893 22.4142 17.4142C22.7893 17.0391 23 16.5304 23 16V10C23 9.78363 22.9298 9.5731 22.8 9.4L19.8 5.4ZM7 20C6.60444 20 6.21776 19.8827 5.88886 19.6629C5.55996 19.4432 5.30362 19.1308 5.15224 18.7654C5.00087 18.3999 4.96126 17.9978 5.03843 17.6098C5.1156 17.2219 5.30608 16.8655 5.58579 16.5858C5.86549 16.3061 6.22186 16.1156 6.60982 16.0384C6.99778 15.9613 7.39991 16.0009 7.76537 16.1522C8.13082 16.3036 8.44318 16.56 8.66294 16.8889C8.8827 17.2178 9 17.6044 9 18C9 18.5304 8.78929 19.0391 8.41421 19.4142C8.03914 19.7893 7.53043 20 7 20ZM13 16H10.444C10.0974 15.3924 9.59624 14.8874 8.99137 14.5361C8.38651 14.1848 7.69948 13.9997 7 13.9997C6.30052 13.9997 5.61349 14.1848 5.00863 14.5361C4.40376 14.8874 3.9026 15.3924 3.556 16H3V10H13V16ZM13 6V8H3V4H13V6ZM17 20C16.6044 20 16.2178 19.8827 15.8889 19.6629C15.56 19.4432 15.3036 19.1308 15.1522 18.7654C15.0009 18.3999 14.9613 17.9978 15.0384 17.6098C15.1156 17.2219 15.3061 16.8655 15.5858 16.5858C15.8655 16.3061 16.2219 16.1156 16.6098 16.0384C16.9978 15.9613 17.3999 16.0009 17.7654 16.1522C18.1308 16.3036 18.4432 16.56 18.6629 16.8889C18.8827 17.2178 19 17.6044 19 18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20ZM21 16H20.444C20.1859 15.5431 19.839 15.1424 19.4238 14.8215C19.0086 14.5006 18.5333 14.266 18.0261 14.1315C17.5189 13.9969 16.9899 13.9652 16.4702 14.0381C15.9505 14.111 15.4506 14.2871 15 14.556V7H18.5L21 10.333V16Z" fill="#3460B4"/>
										</svg>
										span Доставка: 10 марта, 330 Р
									.btn.btn--gray-blue Подробнее

							.product-screen__text 
								strong Краткое описание: 
								| Профессиональная телекамера IP 2 Мп купольная уличная; 1/2.8" Progressive Scan CMOS; 1920х1080 - 25к/с; объектив 6 мм; угол обзора 54°; 0.01/0 Лк; ИК-подсветка 30 м; H.265/H.264/MJPEG; тройной поток; WDR 120дБ, 3D DNR, BLC, ROI, обнаружение движения, вторжения в область и пересечения линии.
			//	/product-screen 

			// product-tabs 
			.product-tabs 
				.wrapper 
					.js-tabs
						.product-tabs__triggers
							ul.js-tabs_triggers
								li.active Описание
								li Характеристики
								li Документация
								li Сертификаты
						.js-tabs_content

							.product-tabs__content.open
								.product-tabs__textblock
									.product-tabs__title Описание
									.product-tabs__text Профессиональная телекамера IP 2 Мп купольная уличная; 1/2.8" Progressive Scan CMOS; 1920х1080 - 25к/с; объектив 6 мм; угол обзора 54°; 0.01/0 Лк; ИК-подсветка 30 м; H.265/H.264/MJPEG; тройной поток; WDR 120дБ, 3D DNR, BLC, ROI, обнаружение движения, вторжения в область и пересечения линии; Аудио вх/вых -1/1; Тревожный вх/вых - 1/1; MicroSD до 128Гб; DC12В± 25%/PoE(802.3af); 7.5Вт макс; IP67; IK10; -40...+60°C; 111x82.4 мм.
								.product-tabs__textblock
									.product-tabs__title Особенности
									.product-tabs__text Камера подходит для ночного видеонаблюдения — оснащена ИК-подсветкой дальностью действия 25 м; поддерживает запись по сигналу детектора движения и режим день/ночь с механическим ИК-фильтром, блокирующим ИК-лучи при достаточном освещении; в темноте фильтр сдвигается в сторону от матрицы для расширения ее чувствительности в ИК-диапазон и работы подсветки.
									
							.product-tabs__content
								.product-tabs__title.product-tabs__title--mb24 Характеристики
								.product-tabs__tables-row 
									.product-tabs__table 
										table
											tr 
												td 
													span Серия
												td Home
											tr
												td 
													span Форм-фактор
												td 
													span купол
											tr
												td 
													span Исполнение
												td 
													span для улицы
											tr
												td 
													span Wi-Fi
												td 
													span 2.4 ГГц
											tr
												td 
													span Матрица
												td 
													span 1/2.9" Progressive Scan CMOS
											tr
												td 
													span Чувствительность
												td 
													span 0.005 лк (F/1.8)
											tr
												td 
													span Режим день/ночь
												td 
													span ч/б: 0 лк (F/1.8, ИК вкл.)
											tr
												td 
													span ИК-фильтр
												td 
													span да
											tr
												td 
													span Переключение день/ночь
												td 
													span механический
											tr
												td 
													span Тип объектива
												td 
													span авто
											tr
												td 
													span Фокусное расстояние
												td 
													span с фиксированным фокусным расстоянием
											tr
												td 
													span Апертура
												td 
													span 2.8 мм
											tr
												td 
													span Электронный затвор
												td 
													span F/1.8
											tr
												td 
													span Видеосжатие
												td 
													span H.264, H.265
											tr
												td 
													span Битрейт
												td 
													span макс. 8 Мбит/с
											tr
												td 
													span Максимальное разрешение
												td 
													span 1920x1080
											tr
												td 
													span Скорость трансляции
												td 
													span 25 Fps
											tr
												td 
													span Улучшение изображения
												td 
													span WDR 105 дБ, 3D DNR, BLC, Defog

									.product-tabs__table 
										table
											tr 
												td 
													span Серия
												td Home
											tr
												td 
													span Форм-фактор
												td 
													span купол
											tr
												td 
													span Исполнение
												td 
													span для улицы
											tr
												td 
													span Wi-Fi
												td 
													span 2.4 ГГц
											tr
												td 
													span Матрица
												td 
													span 1/2.9" Progressive Scan CMOS
											tr
												td 
													span Чувствительность
												td 
													span 0.005 лк (F/1.8)
											tr
												td 
													span Режим день/ночь
												td 
													span ч/б: 0 лк (F/1.8, ИК вкл.)
											tr
												td 
													span ИК-фильтр
												td 
													span да
											tr
												td 
													span Переключение день/ночь
												td 
													span механический
											tr
												td 
													span Тип объектива
												td 
													span авто
											tr
												td 
													span Фокусное расстояние
												td 
													span с фиксированным фокусным расстоянием
											tr
												td 
													span Апертура
												td 
													span 2.8 мм
											tr
												td 
													span Электронный затвор
												td 
													span F/1.8
											tr
												td 
													span Видеосжатие
												td 
													span H.264, H.265
											tr
												td 
													span Битрейт
												td 
													span макс. 8 Мбит/с
											tr
												td 
													span Максимальное разрешение
												td 
													span 1920x1080
											tr
												td 
													span Скорость трансляции
												td 
													span 25 Fps
											tr
												td 
													span Улучшение изображения
												td 
													span WDR 105 дБ, 3D DNR, BLC, Defog

							.product-tabs__content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt assumenda quod fugit, eos dolorem ut ex inventore facere non sit. Dolorum, eveniet, adipisci! Aperiam soluta, harum obcaecati earum optio libero reprehenderit, fuga. Libero odio eaque deserunt recusandae, maxime quaerat autem! Eligendi inventore laudantium odit magni nihil eos soluta quisquam, unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus officia, aliquam, nemo est unde nesciunt ipsam iure numquam natus error!
							.product-tabs__content
			//	/product-tabs 
			
		include blocks/footer.pug