.advantages {
  margin-bottom: 60px;
  &__col {
    @include col(3);
    @include col-sm(6);
  }
  &__item {
    max-width: 300px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 15px;
    background-image: url(../img/advantages_icon_bg.jpg);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 23px;
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 15px;
    color: $gray;
    line-height: 1.5;
  }
  @media (max-width: $break_xs) {
    .row {
      margin-left: -10px;
      > * {
        padding-left: 10px;
      }
    }
    &__col {
      display: flex;
      justify-content: center;
    }
    &__item {
      text-align: center;
    }
    &__icon {
      width: 60px;
      height: 60px;
      padding: 15px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    &__title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    &__text {
      font-size: 14px;
    }
  }
}