.filters {
  &__item {
    background: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(0, 5, 115, 0.1);
    border-radius: 15px;
    margin-bottom: 22px;
  }
  &__trigger {
    padding: 20px;
    position: relative;
    &.active {
      .filters__arrow {
        transform: rotate(180deg);
        opacity: 0.2;
      }
    }
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
  }
  &__arrow {
    width: 13px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0313555 1.44343C0.0312385 1.66387 0.1157 1.88431 0.284388 2.05224L4.42715 6.16968C4.76132 6.50176 5.30079 6.50176 5.63507 6.16968L9.77772 2.05224C10.1136 1.71846 10.1154 1.17523 9.78195 0.838977C9.44836 0.502728 8.90568 0.500829 8.56979 0.834999L5.03105 4.35216L1.49243 0.835001C1.15654 0.500831 0.613742 0.50273 0.280266 0.838979C0.114217 1.00653 0.0313554 1.22508 0.0313555 1.44343Z' fill='%233460B4'/%3E%3C/svg%3E%0A");
    background-size: contain;
    position: absolute;
    top: 24px;
    right: 22px;
    transition: 0.3s;
  }
  &__content {
    padding: 0 20px 20px;
    &--open {
      padding: 20px;
    }
  }
  &__clear {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: normal;
    color: $gray;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  
    svg {
      margin-right: 7px;
      fill: $gray;
      transition: 0.3s;
    }
  
    &:hover {
      color: $blue;
  
      svg {
        fill: $blue;
      }
    }
  }
  &__scroll {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    .scroll-content {
      padding-right: 10px;
    }
    .scroll-element.scroll-y {
      width: 5px;
    }
  }
  &__list {
    font-size: 14px;
    ul {
      margin-top: -14px;
      li {
        margin-top: 14px;
        input {
          display: none;
          &:checked {
            ~label {
              color: $blue;
            }
          }
        }
        label {
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
  &__checklist {
    font-size: 14px;
    ul {
      margin-top: -12px;
      li {
        margin-top: 12px;
        input {
          display: none;
          &:checked {
            ~ label {
              .filters__checkbox {
                background-color: $blue;
                border-color: $blue;
              }
              .filters__radio {
                border-width: 6px;
                border-color: $blue;
              }
            }
          }
        }
        label {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          user-select: none;
          > span {
            display: flex;
            justify-content: space-between;
            &:nth-child(2) {
              font-size: 12px;
              color: $gray;
            }
          }
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    flex-shrink: 0;
    background-color: #fff;
    border: 2px solid #E1E4EF;
    border-radius: 3px;
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1287 1.42861L10.8178 1.11808C10.4765 0.776069 9.91734 0.776069 9.57497 1.11808L4.29675 6.39702L2.42383 4.52482C2.08254 4.18316 1.52302 4.18316 1.18173 4.52518L0.871201 4.83534C0.529912 5.17699 0.529912 5.73615 0.871201 6.07781L3.67389 8.88339C4.01554 9.22468 4.57471 9.22468 4.91636 8.88339L11.1287 2.67107C11.4696 2.32942 11.4696 1.77026 11.1287 1.42861Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__radio {
    width: 20px;
    height: 20px;
    margin-right: 9px;
    border: 2px solid #E1E4EF;
    border-radius: 100%;
  }
  &__more {
    margin-top: 14px;
    font-size: 14px;
    color: $blue;
    cursor: pointer;
    user-select: none;
  }
  &__range {
    
  }
  &__range-inputsrow {
    display: flex;
    margin-left: -10px;
    margin-bottom: 18px;
  }
  &__range-input {
    width: 50%;
    padding-left: 10px;
  }
  &__range-slider {

  }
  &__switch-list {
    ul {
      margin-top: -12px;
      li {
        margin-top: 12px;
        label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          user-select: none;
        }
        input {
          display: none;
          &:checked {
            ~ label {
              .filters__switch {
                background-color: $blue;
                &:after {
                  transform: translate(18px, 0);
                }
              }
            }
          }
        }
      }
    }
  }
  &__switch {
    display: block;
    width: 38px;
    height: 20px;
    background-color: #CBD0E4;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background-color: #fff;
      position: absolute;
      top: 3px;
      left: 3px;
      transition: 0.3s;
    }
  }
}