.news-card {
  display: block;
  height: 100%;
  color: $black;
  &__img {
    height: 160px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  &__date {
    font-size: 14px;
    color: $gray;
    margin-bottom: 6px;
  }
  &__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 5px;
    transition: 0.3s;
    &:hover {
      color: $blue;
    }
  }
  &__text {
    font-size: 14px;
    color: $gray;
    line-height: 1.7;
    margin-bottom: 16px;
  }
}