.product-tabs {
  margin-bottom: 132px;
  &__triggers {
    overflow-x: auto;
    border-bottom: 1px solid #C8D5EC;
    margin-bottom: 24px;
    ul {
      display: flex;
      margin-left: -40px;
      margin-top: -20px;
      li {
        margin-left: 40px;
        margin-top: 20px;
        padding-bottom: 13px;
        border-bottom: 1px solid transparent;
        transition: 0.1s;
        &.active {
          border-color: $blue;
          color: $blue;
        }
        &:hover {
          color: $blue;
        }
      }
    }
  }
  &__content {
    
  }
  &__textblock {
    max-width: 900px;
    margin-bottom: 34px;
    .product-tabs__title {
      margin-bottom: 8px;
    }
  }
  &__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 19px;
    &--mb24 {
      margin-bottom: 24px;
    }
  }
  &__text {
    line-height: 1.6;
  }
  &__tables-row {
    max-width: 1332px;
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    margin-top: -30px;
  }
  &__table {
    width: 100%;
    max-width: 616px;
    margin-left: 30px;
    margin-top: 30px;
    table {
      width: 100%;
      margin-top: -18px;
      tr {
        td {
          padding-top: 18px;
          &:nth-child(1) {
            border-bottom: 2px dotted #D8E0E9;
          }
          &:nth-child(2) {
            padding-left: 5px;
          }
          span {
            display: inline-block;
            padding-right: 5px;
            background-color: #fff;
            transform: translate(0,5px);
          }
        }
      }
    }
  }
  &__certificates {
  }
  &__certificates-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  &__certificate__col {
    padding-top: 30px;
    padding-left: 30px;
  }
  &__certificate {
    padding: 15px 15px 20px;
    border: 1px solid #EFF3F9;
  }
  &__certificates-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 114px;
    height: 160px;
    margin-bottom: 11px;
  }
  &__certificates-btn {
    text-align: center;
    input {
      display: none;
    }
    label {
      display: block;
      padding: 6px 15px;
      background: #EAEFF9;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      color: $blue;
      font-weight: 500;
    }
  }
  &__docs {
    .row {
      margin-left: -19px;
      > * {
        padding-left: 19px;
      }
    }
  }
  &__docs-col {
    @include col(4);
    @include col-md(6);
    @include col-xs(12);
  }
  &__doc {
    display: flex;
    padding: 18px 15px; 
    border: 1px solid #EFF3F9;
  }
  &__doc-image {
    margin-right: 15px;
    flex-shrink: 0;
  }
  &__doc-content {
    
  }
  &__doc-title {
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__doc-btn {
    input {
      display: none;
    }
    label {
      display: inline-block;
      padding: 6px 25px;
      background: #EAEFF9;
      border-radius: 4px;
      color: $blue;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
    }
  }
  @media (max-width: $break_xs) {
    &__tables-row {
      flex-wrap: wrap;
    }
    &__table {
      max-width: none;
    }
    &__certificate__col {
      width: 50%;
    }
    &__certificates-img {
      margin-left: auto;
      margin-right: auto;
    }
    &__triggers {
      ul {
        margin-left: -15px;
        li {
          margin-left: 15px;
        }
      }
    }
  }
}